.block {
	width: 16px;
	height: 16px;
	position: absolute;
}

.grass {
	background-image: url("images/grass.png");
}

.dirt {
	background-image: url("images/dirt.png");
}

.stone {
	background-color: gray;
}

.log {
	background-image: url("images/log.png");
}

.leaves {
	background-color: lightgreen;
}

.coal_ore {
	background-color: dimgray;
}

.iron_ore {
	background-color: indianred;
}

.hide {
	display: none;
}

#worldContainer {
	width: 1424px;
	height: 800px;
	position: relative;
	border: 1px outset red;
}

#player {
	width: 16px;
	height: 17px;
	background-color: black;
	position: absolute;
}

